body {
    font-family: 'Inter',  sans-serif; /* Семейство шрифтов */
    font-size: 15px; /* <p></p>  */
    background-color: #FF00FF; /* white */
    color: rgb(0, 255, 229); /* blue */ 
}
h1 {
    color: #00FFFF; /* blue */
    font-size: 24px; /* Размер шрифта в пунктах */
    font-family: 'Inter', serif; /* Семейство шрифтов */
}
@keyframes color-change {
    0% {
      color: rgb(0, 255, 229);;
    }
  
    10% {
        color: rgb(0, 213, 255);;
      }

    20% {
      color: rgb(0, 98, 255);
    }
  
    30% {
      color: blue;
    }

    40% {
        color: rgb(162, 0, 255);
      }
    
    50% {
        color: rgb(255, 0, 230);
      }

    60% {
        color: rgb(162, 0, 255);
      }

    70% {
        color: blue;
      }
    
    80% {
        color: rgb(0, 98, 255);
      }

    90% {
        color: rgb(0, 213, 255);;
      }

    100% {
        color: rgb(0, 255, 229);;
      }
}

h1 {
    animation: color-change 14s infinite;
}